.blog-section{
    background-color: #B07CF7;
    padding: 80px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.blog-section-text{
    text-align: center;
    color: #ffffff;
    width: 600px;
    .blog-section-text-description{
        padding: 20px;   
    }
}

.blog-section-button{
    color: #ffffff;
    background-color: #F72B3B;
}
.blog-section-posts{
    color: #ffffff;
    width: 100%;
    display: flex;  
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 50px;

    .blog-section-post{
        width: 370px;
        height: 310px;
        box-shadow: 0px 2px 5px #00000080;
        opacity: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin:15px;

        .blog-section-title{
            font-size: 1rem;
            font-weight: 600;
            margin-left: 8px;
        }
        .blog-section-author{
            font-size: 0.7rem;
            margin-left: 8px;  
        }

    }
    .post1{
        background-image:  linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)), url(./img/img-10.png),;
        background-repeat: no-repeat;
        background-size: cover;
        

    }
    .post2{
      
        background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)), url(./img/img-11.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        
    }
    
    .post3{
        background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)), url(./img/img-1.png);
        background-repeat: no-repeat;
        background-size: cover;
        
    }
}
@media (max-width: 768px){
    .blog-section-text{
        text-align: center;
        width: auto;
    }
}