.section-gallery{
    background-color: #FFE92F;
    padding: 80px 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.gallery-section-text{
    text-align: center;
    width: 600px;
    .gallery-section-text-description{
        padding: 20px;
    }
}
.img-1{
    grid-area: img-1;

    img {
        width: 100%;
        object-fit: cover;
    }
}
.img-2{
    grid-area: img-2;
    img {
        width: 100%; 
        object-fit: cover;
    }
}
.img-3{
    grid-area: img-3;

    img {
        width: 100%;
        object-fit: cover;
    }
}
.img-4{
    grid-area: img-4;
    img
    {
        width: 100%;
        object-fit: cover;
    }
}
.img-5{
    grid-area: img-5;
    img
    {
        width: 100%;
        object-fit: cover;
    }
}
.gallery-grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-areas: 
    'img-1 img-1 img-1 img-1 img-2 img-2'
    'img-1 img-1 img-1 img-1 img-3 img-3'
    'img-4 img-4 img-4 img-5 img-5 img-5';
    grid-gap: 20px;
    justify-items: stretch;
    
}
.btn-gallery-section{
    background-color: #5585A2;
    color: #ffffff;
    margin-top: 50px;   
}

@media (max-width: 768px){
    .gallery-section-text{
        text-align: center;
        width: auto;
    }
    .gallery-grid{
        grid-template-columns: auto;
        grid-template-areas:
        'img-1'
        'img-2'
        'img-3'
        'img-4'
        'img-5';
}
}

