@import 'navigation';
.home-section{
    background-image: url(./img/img-2@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    

    .home-text{
        height: 700px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        width: 375px;
        margin: 0 100px;

        .btn-home-section{
            background-color: #FF6033;
            color: #ffffff;
        }
    }    
}
@media (max-width: 768px) {
    .home-section{
        background-image: url(./img/img-2.png);
        background-repeat: no-repeat;
        background-size: cover;
        
    
        .home-text{
            height: auto;
            width: auto;
            margin:0px 20px;
            padding: 10px 0px;
        }    
    }
}  
