.section-services {
    background: #70BFFF;
    opacity: 1;
    .bgimg-services{
        background-image: url(./img/img-4.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 462px 527px;
    }
    .text-content-services {
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        padding: 165px 0;
        margin: 0 265px; 
       

        .services-header{
            
            text-align: center;
            order: 2;
            flex-grow:1;
            color: #ffffff;
        
        }
        .service-list{
            order: 1;
            flex-grow: 1;
            .box-service-list{
                width: 315px;
                height: 80px;
                background-color: #ffffff;
                box-shadow: 0px 4px 10px #00000080;
                opacity: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 20px;
                
            }
            .text-service-list{
                font-weight: 800;
                width: 205px;
                text-align: center;
            }
            .fas{
                font-size: 1.8rem;
                border-left: 1px solid;
                border-color: #b8b1b1;
                height: 80px;
                width: 50px;
                padding: 25px;
            }
            
        }    
        
    }
}
 
@media (max-width: 768px) {
    .section-services{
        .bgimg-services{
            background-image: none;
        }
        .text-content-services {
            padding: 65px 0;
            margin: 0 0;

            .services-header{
                order: 1;
            }
            .service-list{
                order: 2;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }    
}



